<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .video-grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: black;
        }
        .main-grid-container {
            display: grid;
            grid-template-columns: 60% 20%;
        }

        video {
            /* border-radius: 25%;
            background-color: black; */
            margin: 10px;
        
        }
        .main-grid-container {
            display: flex;
       
            flex-direction: column;
        }
        body{
            margin: 0px;
        }
    </style>
</head>

<body style="background-color: rgb(10, 0, 0);" >
    <div style="background-color: rgb(73, 72, 72);">
        <input type="hidden" name="smname" id="smname" />
        <div style="position:absolute;right:0px"><a href="/home"><button style="padding: 8px 25px ;border-radius: 40px;margin: 6px;">Go Home</button></a></div>
        
        <div >
        
        <button id="btn-join" style="padding: 8px 25px ;border-radius: 40px;margin: 6px;"> Join Room </button>
        </div>
    </div>


    <div class="main-grid-container" style="background-color: black;">
        <div id="video-container" style="display:flex;flex-wrap:wrap;justify-content: space-evenly;">
            <div style="margin: 9px 0px 7px 0px;">
                <video id="local-video" style="float:left ;width:min-content ;height:60vh;width:45vw;background-color: rgb(17, 16, 16);margin-top: 24px;" autoplay playsinline>
                <!-- <input name="smname" id="smname" /> -->
                </video>
                <div style="display: flexbox;justify-content: center; text-align: center;background-color: rgb(247, 243, 243);">   
                    <div >
                        <h3 id="label-username" type="hidden">Lsxhgh@gmail.com</h3>
                        <input id="username" type="hidden"  value="{{request.user.email}}">
                    </div>
                    <button id="btn-toggle-audio" style="border-radius: 60px;margin-bottom: 8px;">Audio Mute</button>
                    <button id="btn-toggle-video" style="border-radius: 50px;margin-bottom: 8px;">Video Off</button>
                </div>
            </div>


                <div style="margin: 9px 0px 7px 0px;">
                    <video id="local-video" style="float:left ;width:min-content ;height:60vh;width:45vw;background-color: rgb(17, 16, 16);margin-top: 24px;" autoplay playsinline>
                    <!-- <input name="smname" id="smname" /> -->
                    </video>
                    <div style="display: flexbox;justify-content: center; text-align: center;background-color: rgb(247, 243, 243);">   
                        <div >
                            <h3 id="label-username" type="hidden">Lsxhgh@gmail.com</h3>
                            <input id="username" type="hidden"  value="{{request.user.email}}">
                        </div>
                        <button id="btn-toggle-audio" style="border-radius: 60px;margin-bottom: 8px;">Audio Mute</button>
                        <button id="btn-toggle-video" style="border-radius: 50px;margin-bottom: 8px;">Video Off</button>
                    </div>
                </div>

                    <div style="margin: 9px 0px 7px 0px;">
                        <video id="local-video" style="float:left ;width:min-content ;height:60vh;width:45vw;background-color: rgb(17, 16, 16);margin-top: 24px;" autoplay playsinline>
                        <!-- <input name="smname" id="smname" /> -->
                        </video>
                        <div style="display: flexbox;justify-content: center; text-align: center;background-color: rgb(247, 243, 243);">   
                            <div >
                                <h3 id="label-username" type="hidden">Lsxhgh@gmail.com</h3>
                                <input id="username" type="hidden"  value="{{request.user.email}}">
                            </div>
                            <button id="btn-toggle-audio" style="border-radius: 60px;margin-bottom: 8px;">Audio Mute</button>
                            <button id="btn-toggle-video" style="border-radius: 50px;margin-bottom: 8px;">Video Off</button>
                        </div></div>

                        <div style="margin: 9px 0px 7px 0px;">
                            <video id="local-video" style="float:left ;width:min-content ;height:60vh;width:45vw;background-color: rgb(17, 16, 16);margin-top: 24px;" autoplay playsinline>
                            <!-- <input name="smname" id="smname" /> -->
                            </video>
                            <div style="display: flexbox;justify-content: center; text-align: center;background-color: rgb(247, 243, 243);">   
                                <div >
                                    <h3 id="label-username" type="hidden">Lsxhgh@gmail.com</h3>
                                    <input id="username" type="hidden"  value="{{request.user.email}}">
                                </div>
                                <button id="btn-toggle-audio" style="border-radius: 60px;margin-bottom: 8px;">Audio Mute</button>
                                <button id="btn-toggle-video" style="border-radius: 50px;margin-bottom: 8px;">Video Off</button>
                            </div></div>

            </div>
            
            
            
            <div id="chat" style="float:right;position:fixed;width: 21.5vw; bottom: 1%;right:0.3%; margin-top: 0;border: 4px solid rgb(52, 52, 53); background-color: rgb(102, 101, 101);  ">
                <h2 style="color:white; justify-content: center;text-align: center; ">
                    CHAT 
                </h2>
                <hr style="color:white;">
                <div id="messages">
    
                    <ul id="message-list" style="color:white; min-width:200px; word-wrap:break-word;"></ul>
                </div>
                <div>
                    <input id="msg" style="border: 3px solid rgba(107, 70, 70, 0.925);" required><button required id="btn-send-msg">Send Messages</button>
                </div>
            </div>
        </div>


    </div>
    <h1 style="color: white;">Value <input name="smname" id="smname" /></h1>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>