{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teams</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
<body>
  <a href="/home"><button>Go Home</button></a>
  <div class="columns is-mobile">
  
<h2><a href="{% url 'usersearch' %}" class="button is-success">New Conservation</a></h2>
  <div class="column is-one-quarter">
  <aside class="menu">
    <h1 class="title is-2">
    Messages
    </h1>
  <ul>

{% for message in messages %}

<a class="{% if active_direct == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.email %}">
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          User - {{ message.user.first_name}} {{message.user.last_name}}
          <br>
          Email-  <small>{{ message.user.email }}</small>
        </p>
      </div>
      <hr>

      <div class="content">
        {% if message.unread %}
        <p style="font-weight: bold; color: red;">
          <i class="material-icons">mark_chat_unread</i> {{ message.unread }}
        </p>
        {% endif %}        
      </div>

    </div>
  </article>
</div>
</a>
{% endfor %}

  </ul>
  </aside>
<br>


</div>

<div class="column">

<div>

<!-- {% for direct in directs %}
<div class="box">
  <article class="media">
    <div class="media-left">
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <h1>{{ direct.recipient.profile.username}} {{ direct.recipient.email }}</h1>
         <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
        </p>
        {{ direct.body }} 
      </div>
    </div>
  </article>
</div>
{% endfor %} -->


</div>


<!-- <form role="form" method="POST">
  {% csrf_token %}
<article class="media">
  <figure class="media-left">
  <div class="media-content">
    <input type="hidden" name="to_user" value="{{ active_direct }}">
    <div class="field">
      <p class="control">
        <textarea class="textarea" required name="body" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button type="submit" name="action" class="button is-info">Send</buttom>
        </div>
      </div>
    </nav>
  </div>
</article>
</form> -->

</div>
</div>
</body>
</html>