{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teams</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
<body>
 <div class="columns is-mobile">
  <div class="column is-offset-one-fifth">


<div class="field has-addons">
<form method="GET">
  <div class="control">
    <input class="input is-large" name="q" type="text" placeholder="Search users..." value="{{ request.GET.q }}">
  </div>
  <div class="control">
  	<button type="submit" class="button is-success">Search</button>
  </div>
  </form>
</div>


</div>
</div>

<div class="column is-one-quarter">

{% for user in users %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong> {{ user.email }}</strong><small>{{ profile.username }}</small>
        </p>
        <a href="{% url 'newconversation' user.email %}" class="button is-info">Send a message!</a>
      </div>
    </div>
  </article>
</div>
{% endfor %}
	

</div>

</body>
</html>