{% extends 'base/base.html' %}
{% block content %}


<div class="classes">
    <p> Select Class</p>   
    <ul>
        <li><a href="/eight">Class 8</a></li>
        <li><a href="/nine">Class 9</a></li>
        <li><a href="/ten">Class 10</a></li>
        <li><a href="/eleven">Class 11</a></li>
        <li><a href="/twelth">Class 12</a></li>
        <li><a href="/jee-main">Jee Main</a></li>
        <li><a href="/jee-advance">Jee Advance</a></li>
        <li><a href="/neet">Neet</a></li>
    </ul>
</div>
{% endblock %}