{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href= "{% static 'css/videodashboard.css' %}">
    <title>Hello world</title>
  </head>
  <body>
    <h1>Card Hover Effect | Vitateach</h1>

    <div class="card">
        <img src="https://source.unsplash.com/user/diegyms/300x200" alt="vitateach" />
        <div class="card-body">
            <h6>Vitateach</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sit? Nesciunt porro.adipisicing elit. Sed, sit? Nesciunt porro.</p>
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://source.unsplash.com/user/frantic/300x200" alt="vitateach" />
        <div class="card-body">
            <h6>Vitateach</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sit? Nesciunt porro.adipisicing elit. Sed, sit? Nesciunt porro.</p>
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="https://source.unsplash.com/user/5tep5/300x200" />
        <div class="card-body">
            <h6>Vitateach</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sit? Nesciunt porro.adipisicing elit. Sed, sit? Nesciunt porro.</p>
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
  </body>
</html>