{% extends 'base/base2.html' %}
{% block content-3 %}
Class 8
 {% endblock %}

{% block content %}
<style>
nav
{
    background-image: linear-gradient(#A8A9AD,rgb(0, 255, 255));
    position:fixed;
    width: 100%;
    height: 80px;
    z-index: 99;
    overflow: hidden;
}
.card:hover{
  border: 1px solid white;
  box-shadow:0 7px 30px 10px rgba(91, 103, 105, 0.5);  
  transform: translateY(25px);
}
video::-internal-media-controls-download-button { 
    display:none; 
} 
video::-webkit-media-controls-enclosure { 
    overflow:hidden; 
}
video::-webkit-media-controls-panel { 
    width: calc(100% + 30px); /* Adjust as needed */ 
}
</style>

<div class = wrapper>
  {% for x in video %}
      <div class = card>
        <video id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}">
          <source src="{{x.video.url}}" type="video/mp4"> </video>
          <img src="{{x.thumbnail.url}}"alt="not found">
          <div class =info>

          <h1>{{x.title}}</h1>
        </div>
      </div>
      {% endfor %}
</div>
<h1>Video page</h1>
    <div class="container">
      {% for x in video %}
          <video width="200" height="200" id="contentVideo" controls="controls" autoplay="autoplay" preload ="auto" controlsList="nodownload">
          <source src="{{x.video.url}}" type="video/mp4"> </video>
          <h3>{{x.title}}</h3>
        {% endfor %}
    </div>

    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
{% endblock %}