{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
		<link rel = "stylesheet" type = "text/css" href ="{% static 'card.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
	{% for x in video %}
	<h1>{{x.title}}</h1>
	<video width="300" height="300" id="contentVideo" controls="controls" autoplay="autoplay" preload ="auto" controlsList="nodownload">
	<source src="{{x.video.url}}" type="video/mp4">
	</video>
  {% endfor %}
  </body>
</html>

4




